* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.info {
    background-color: white;
    color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

header,
footer,
.container.hero {
    background-color: #1F2937;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

main.container {
    flex-direction: column;
}

.quote {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.quote span {

    font-size: 18px;
    font-style: bolder;
    align-self: flex-end;
}

nav.container {
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
}

nav span {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 12px;
}

nav,
main,
footer {
    margin: 0 10%;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}


.button {
    background-color: #3882F6;
    border-radius: 5px;
    box-shadow: none;
    color: white;
    padding: 5px 12px;
}

.info.button {
    border: solid white 2px;
}



footer {
    padding: 16px;
}

.info {
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.info.container {
    display: flex;
    text-align: center;

}

.info img {
    border-radius: 10px;
    border: solid #388cF6 3px;
}